
<div ng-class="{'hide-top-menu': !frame.menu}" class="fm-frame-wrap">
  <div ng-if="frame.menu" class="frame-top-header-menu">
    <div class="frame-header">
      <div ng-click="frame.menu.toggleOpen()" class="header-title">
        <div class="title">{{frame.menu.selectedItem.title}}</div>
      </div>
      <div class="frame-menu-list">
        <ul ng-if="!frame.menu.open">
          <li ng-repeat="menuItem in frame.menu.menuItems[frame.menu.selectedMenu]" ng-click="frame.menu.selectMenuItem(menuItem)"><b>{{menuItem.title}}</b></li>
        </ul>
        <div ng-click="frame.menu.nextMenu()" class="next-menu-panel"><i class="fa fa-angle-right"></i></div>
      </div>
    </div>
  </div>
  <div class="frame-content">
    <div class="content">
      <div class="scroll">
        <div ng-include="frame.menu.selectedItem.templateUrl"></div>
      </div>
    </div>
  </div>
</div>