.fm-frame-wrap(ng-class="{'hide-top-menu': !frame.menu}")
  .frame-top-header-menu(ng-if="frame.menu")
    .frame-header
      .header-title(ng-click="frame.menu.toggleOpen()")
        .title {{frame.menu.selectedItem.title}}
      .frame-menu-list
        ul(ng-if="!frame.menu.open")
          li(
            ng-repeat="menuItem in frame.menu.menuItems[frame.menu.selectedMenu]"
            ng-click="frame.menu.selectMenuItem(menuItem)"
          )
            b {{menuItem.title}}
        .next-menu-panel(ng-click="frame.menu.nextMenu()")
          i.fa.fa-angle-right
  .frame-content
    .content
      .scroll
        div(ng-include="frame.menu.selectedItem.templateUrl")
